Repository boltdesignsystem/bolt, pull requests merged in 2018-04, with the labels that each got.

#595 Hotfix: Fix Headline Alignment Regression on Master
  packages/components/bolt-headline/headline.schema.yml
  packages/components/bolt-headline/src/_typography.twig
Labels: hotfix

#596 Hotfix: Fix HyperHTML Renderer Imports
  packages/components/bolt-copy-to-clipboard/src/copy-to-clipboard.standalone.js
  packages/components/bolt-nav-bar/src/nav-bar.standalone.js
  packages/components/bolt-share/src/share.standalone.js
Labels: hotfix

#610 Next Release: v1.1.3
  .travis.yml
  apps/bolt-site/composer.lock
  apps/drupal-lab/composer.lock
  apps/example_drupal_theme/.boltrc.js
  apps/example_drupal_theme/.gitignore
  apps/example_drupal_theme/example_drupal_theme.info.yml
  apps/example_drupal_theme/example_drupal_theme.libraries.yml
  apps/example_drupal_theme/package.json
  apps/pattern-lab/composer.lock
  apps/pw-site/composer.lock
  package.json
  packages/components/bolt-dropdown/src/_dropdown-item.twig
  packages/components/bolt-dropdown/src/dropdown.js
  packages/components/bolt-dropdown/src/dropdown.scss
  packages/components/bolt-dropdown/src/dropdown.twig
  packages/components/bolt-dropdown/src/index.js
  packages/components/bolt-headline/headline.schema.yml
  packages/components/bolt-headline/src/_typography.twig
  packages/components/bolt-unordered-list/src/unordered-list.twig
  packages/core-php/src/Layout/GridCellNode.php
  packages/core-php/src/Layout/GridTagNode.php
Labels: release

#608 Hotfix: Global Fix for Broken CSS Vars Theming
  packages/components/bolt-device-viewer/src/device-viewer.scss
  packages/components/bolt-dropdown/dropdown.scss
  packages/components/bolt-form/src/form.scss
  packages/components/bolt-icon/src/icon.scss
  packages/components/bolt-video/src/video.scss
  packages/core/styles/02-tools/tools-css-vars/_tools-css-vars.scss
  packages/global/styles/05-objects/objects-ratio/ratio.scss
  packages/global/styles/05-objects/objects-ui-list/_objects-ui-list.scss
  packages/global/styles/06-themes/themes-general/_themes-dark.scss
  packages/global/styles/06-themes/themes-general/_themes-light.scss
  packages/global/styles/06-themes/themes-general/_themes-medium.scss
  packages/global/styles/06-themes/themes-general/_themes-xdark.scss
  packages/global/styles/06-themes/themes-general/_themes-xlight.scss
Labels: hotfix

#620 Enhancement: Add Yarn Command to `npm run setup`
  package.json
Labels: enhancement

#648 Hotfix: Updating Bolt Babel Config To Accommodate Update Required with v7.0.0-beta.46
  packages/config-presets/babel-preset-bolt/index.js
  packages/config-presets/babel-preset-bolt/package.json
  yarn.lock
Labels: hotfix

#651 Misc Hotfixes for v1.2.x Release
  .lintstagedrc
  package.json
  packages/components/bolt-nav/nav.scss
  packages/core/package.json
  packages/global/styles/05-objects/objects-flag/_objects-flag.scss
Labels: hotfix

#614 Added Forms docs
  apps/bolt-site/content/20-docs/30-components/forms.md
  apps/bolt-site/images/forms-checkbox.png
  apps/bolt-site/images/forms-radio.png
Labels: In Epic: Docs

#615 Docs/buttons
  apps/bolt-site/content/20-docs/30-components/Buttons.md
  apps/bolt-site/images/band_dark_single-button.png
  apps/bolt-site/images/band_light_dual-button.png
  apps/bolt-site/images/band_xlight_one-button.png
  apps/bolt-site/images/band_xlight_three-cards.png
Labels: In Epic: Docs

#638 Blockquotes documentation
  apps/bolt-site/content/20-docs/30-components/Blockquotes.md
  apps/bolt-site/images/quote_band.png
  apps/bolt-site/images/quote_hero.png
  apps/bolt-site/images/quote_hero_home.png
Labels: In Epic: Docs

#641 Added Bands documentation
  apps/bolt-site/content/20-docs/30-components/Bands.md
  apps/bolt-site/images/band_content-body-article.png
  apps/bolt-site/images/band_content-body-hero.png
  apps/bolt-site/images/band_content-body-quote.png
  apps/bolt-site/images/band_content.png
  apps/bolt-site/images/band_feature_image-CTA.png
  apps/bolt-site/images/band_feature_video-ui-list.png
  apps/bolt-site/images/band_feature_zoom-CTA.png
  apps/bolt-site/images/band_index.png
  apps/bolt-site/images/band_lockup.png
Labels: In Epic: Docs

#642 Added <ul> and <ol> to the Examples, updated copy
  apps/bolt-site/content/20-docs/20-visual-language/20-typography.md
  apps/bolt-site/content/20-docs/20-visual-language/40-spacing.md
  apps/bolt-site/images/type-ol-dark.png
  apps/bolt-site/images/type-ul-light.png
Labels: In Epic: Docs

#645 Added cards documentation
  apps/bolt-site/content/20-docs/30-components/Cards.md
  apps/bolt-site/images/card_in-nav.png
  apps/bolt-site/images/card_resource-band.png
  apps/bolt-site/images/card_trio-dark.png
  apps/bolt-site/images/card_trio-xlight.png
Labels: In Epic: Docs

#647 Updated "Components" to "Patterns"
  apps/bolt-site/content/20-docs/30-components/00-index.md
  apps/bolt-site/content/20-docs/30-patterns/00-index.md
Labels: In Epic: Docs
